<link rel="stylesheet" href="static/invstyle.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div align="center">
<div class="menu"><a href="/search">Search</a></div>
<div class="menu"><a href="/addhw">Add Hardware</a></div>
<div class="menu"><a href="/addlic">Add License</a></div>
<div class="menu"><a href="/maintenance">Maintenance</a></div>
<div class="menu"><a href="/list">List</a></div>
<div class="menu"><a href="/licgap">License Gap</a></div>
<div class="menu"><a href="/config">Configure</a></div>
<div class="menu"><a href="/logout">Logout</a></div>
</div>
{% block content %}{%endblock%}
<div class="warningdiv"></div>